/* Palette: Ripe Origins - Atualizada */
:root {
    --cor-branco: #FFFFFF;
    --cor-amarelo: #FFD700;
    --cor-laranja: #FFA500;
    --cor-verde-claro: #90EE90;
    --cor-verde-medio: #32CD32;
    --cor-verde-escuro: #00FF00;
    --cor-azul-petroleo: #2F4F4F;
    --cor-azul-escuro: #000080;
  }
  
  body {
    font-family: 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--cor-branco);
    color: #2F4F4F;
  }
  
  header {
    background-color: var(--cor-azul-petroleo);
    color: var(--cor-branco);
    padding: 1.5rem 2rem;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  header img.logo {
    height: 50px;
  }
  
  nav a {
    color: var(--cor-amarelo);
    margin: 0 1rem;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
  }
  
  nav a:hover {
    color: var(--cor-laranja);
  }
  
  .hero {
    background-color: var(--cor-azul-petroleo);
    color: var(--cor-branco);
    padding: 4rem 2rem;
    text-align: center;
  }
  
  .hero h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
  }
  
  .hero p {
    font-size: 1.5rem;
    margin-bottom: 2rem;
  }
  
  .hero button {
    background-color: var(--cor-laranja);
    border: none;
    padding: 0.75rem 2rem;
    font-size: 1rem;
    color: var(--cor-branco);
    border-radius: 30px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .hero button:hover {
    background-color: var(--cor-laranja);
  }
  
  section {
    padding: 4rem 2rem;
  }
  
  footer {
    background-color: var(--cor-laranja);
    color: var(--cor-branco);
    padding: 2rem;
    text-align: center;
    font-size: 0.9rem;
  }
  
  .card {
    background-color: var(--cor-verde-claro);
    border-radius: 1rem;
    padding: 2rem;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    transition: transform 0.3s;
  }
  
  .card:hover {
    transform: translateY(-5px);
  }

  .button-primary {
    background-color:  var(--cor-laranja);
    padding: 0.75rem 1.5rem;
    border: none;
    border-radius: 30px;
    font-weight: bold;
    color: var(--cor-branco);
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .button-secondary {
    background-color: var(--cor-laranja);
    padding: 0.75rem 1.5rem;
    border: none;
    border-radius: 30px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .button-secondary:hover {
    background-color: var(--cor-verde-escuro);
  }
  